body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #cc3300;
    color: white;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    
}

#buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

button {
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
    outline-width: 0;
}

#results {
    display:flex;
    justify-content: center;
    align-content: center;
}

#score {
    display:flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    font-style: italic;

}

img {
    width: 100px;
    height: 100px;
}


/* Click Effects */

.click {
    transform: scale(1.1);
    border-color: #cc3300;
    box-shadow: 0 0 10px #cc3300;
}

